/* Container for the intro section */
.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  
  .intro-container div {
    padding-left: 0;
  }
  /* Left section of the intro */
  .intro-left {
    flex: 0 0 60%; /* Occupies 60% of the width */
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  /* Right section of the intro */
  .intro-right {
    flex: 0 0 40%; /* Occupies 40% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .image-container {
    position: relative;
  }
  
  .static-image {
    max-width: 100%;
    max-height: 300px; /* Set a maximum height */
    width: auto;
    height: auto;
    position: relative;
  }
  
  .gif-image {
    position: absolute;
    max-width: 100%;
    max-height: 300px; /* Set a maximum height */
    left: 0;
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover .gif-image {
    opacity: 1;
  }

  h1 {
    margin: 20px 0; /* Adjust the top and bottom margin */
    padding: 0; /* Remove any padding */
  }

  .section-title {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 800;
  }

  .section-txt {
    font-family: Helvetica;
    font-size: 16px;
    text-transform: uppercase;
    text-align: justify;
  }

  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    border-top: 1px solid #000;
  }

  /* Media query for mobile devices */
    @media (max-width: 768px) {
        .intro-container {
        flex-direction: column; /* Stack the sections vertically */
        align-items: flex-start; /* Align items to the start */
        }
  
        .intro-left,
        .intro-right {
        flex: 0 0 auto; /* Reset the flex basis */
        width: 100%; /* Make both sections take full width */
        padding-right: 0; /* Remove right padding */
        }
  
        .intro-right {
        margin-top: 20px; /* Add some space between the sections */
        }

        .about-container {
            flex-direction: column;
        }
  }